.ww-cookiebar {
  display: none;

  &.show {
    display: block;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 25px;
  }

  &__cols {
    display: flex;
  }

  &__col {
    &--text {
      flex: 1;
    }

    &--buttons {
      padding-left: 50px;
      display: flex;
      align-items: center;
    }
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    &--mobile {
      display: none;
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 768px) {
    &__cols {
      display: block;
    }

    &__col {
      &--buttons {
        margin-top: 15px;
        padding-left: 0;
        justify-content: center;
      }
    }

    &__text {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }
  }
}
